<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_UCP_TITLES_EXPLAIN}</p>

	<fieldset class="fields2">
	<div id="error"><!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF --></div>
	<!-- IF HAS_TITLES -->
	<form id="list" method="post" action="{U_ACTION}">
	<table class="badgetable" cellspacing="1">
	<thead>
	<tr>
		<th class="badgeheader">{L_TITLE_NAME}</th>
		<th class="badgeheader">{L_TITLE_DATE_EARNED}</th>
		<th class="badgeheader">{L_TITLE_DESC_HEADER}</th>
	</tr>
	</thead>
		<!-- BEGIN titlelist -->
			<!-- IF titlelist.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
			<td style="text-align: left;"><a href="{titlelist.U_TITLE_EDIT}">{titlelist.TITLENAME}</a></td>
			<td style="text-align: center;">{titlelist.DATE_EARNED}</td>
			<td style="text-align: left;">{titlelist.DESC}</td>
			
		</tr>
		<!-- BEGINELSE -->
		<tr>
			<td class="row1" colspan="5" style="text-align: center;">{L_USER_NO_TITLES}</td>
		</tr>
		<!-- END member -->
	</tbody>
	</table>

	<div style="width: 48%; padding-top:10px;">
		<strong>Displayed Title:</strong>
		<select style="width: 80%;" name="displayed" id="displayed">{S_TITLES_OPTIONS}</select>
		<input type="submit" id="save" name="submit" value="{L_SAVE}" class="button1" />
		{S_FORM_TOKEN}
	</div>

	<!-- ELSE -->
		<strong>{L_UCP_NO_TITLES}</strong>
	<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>


</form>

<!-- INCLUDE ucp_footer.html -->